@import "tailwindcss";

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

.blur-gold {
  background: radial-gradient(circle at 30% 20%, #f5c542, transparent 40%);
}
